<!doctype html>
<html>
<head>
    <title>usertest - Update</title>
    <script type='text/javascript'>
        function populateForm() {
            document.getElementById("id_first_name").value = "{{ user.first_name }}";
            document.getElementById("id_last_name").value = "{{ user.last_name }}";
            var div = document.createElement('div');
            div.innerHTML = "{{ user.email }}";
            var decoded = div.firstChild.nodeValue;alert(decoded);
            document.getElementById("id_email").value = decoded;
        }
    </script>
</head>
<body onload="populateForm()">
    <h1>usertest</h1>
    <h2>Update Personal Information</h2>
    <form action="/update/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
