<!doctype html>
<html>
<head>
    <title>usertest - Index</title>
</head>
<body>
    <h1>usertest - Welcome {{ user.first_name }} {{ user.last_name }}</h1>
    <h2>Index</h2><br>
    {% if user.is_authenticated %}
        <a href="/update/">Update Personal Information</a><br>
        <a href="/logout/">Logout</a><br>
    {% else %}
        <a href="/login/">Login</a><br>
        <a href="/register/">Register</a><br>
    {% endif %}
    <br>
    <br>
    <a href="admin">admin login:</a><br>
    username: admin<br>
    password: pass<br>
    
</body>
</html>
